!DOCTYPE html>
<html>
<head>
    <title>Proyecto Nº 1 Stram Games</title>
</head>
<body>
    <h1>Proyecto Nº 1 Stram Games</h1>
    
    <h2>Top 5 Géneros:</h2>
    <ul>
        {% for genero in top_generos %}
        <li>{{ genero }}</li>
        {% endfor %}
    </ul>
    
    <h2>Juegos del Año:</h2>
    <ul>
        {% for juego in top_titulos_completos %}
        <li>{{ juego }}</li>
        {% endfor %}
    </ul>
    
    <!-- Agrega aquí las secciones para los resultados de las demás funciones -->
</body>
</html>